<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" th:href="@{/admin_assets/i/favicon.png}">
<link rel="apple-touch-icon-precomposed" th:href="@{/admin_assets/i/app-icon72x72@2x.png}">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<script th:src="@{/admin_assets/js/echarts.min.js}"></script>
<link rel="stylesheet" th:href="@{/admin_assets/css/amazeui.min.css}" />
<link rel="stylesheet" th:href="@{/admin_assets/css/amazeui.datatables.min.css}" />
<link rel="stylesheet" th:href="@{/admin_assets/css/app.css}">
<script th:src="@{/admin_assets/js/jquery.min.js}"></script>
</html>