<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>标签</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" th:href="@{/assets/i/favicon.png}"/>
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/blog.css}">
    <link rel="stylesheet" th:href="@{/assets/css/lable.css}">
    <!--[if lt IE 9]>
    <script th:src="@{http://libs.baidu.com/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js}"></script>
    <script th:src="@{/assets/js/amazeui.ie8polyfill.min.js}"></script>
    <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <!--<![endif]-->
    <script th:src="@{/assets/js/amazeui.min.js}"></script>
    <script th:src="@{/assets/js/app.js}"></script>
    <!--右下角动漫人物-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget/autoload.js"></script>
</head>
<body>
<!-- 头部 -->
<header th:replace="ui/include/header :: header"></header>
<div class="am-container">
    <div class="lable" data-am-scrollspy="{animation: 'scale-down'}">
        <div class="about">标签云</div>
        <hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>
        <ul class="cloud">
        <li th:each="label : ${allLabel}">
            <a th:href="@{'/label_con?labelName='+${label.labelName}}">[[${label.labelName}]]</a>
        </li>
        </ul>
    </div>
</div>
<!--gotop-->
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
    <a href="#top" title="">
        <i class="am-gotop-icon am-icon-arrow-up"></i>
    </a>
</div>
<!-- 尾部 -->
<footer th:replace="ui/include/footer :: footer"></footer>
</body>
</html>