<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>注册</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" th:href="@{/assets/i/favicon.png}"/>
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/blog.css}">
    <!--[if lt IE 9]>
    <script th:src="@{http://libs.baidu.com/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js}"></script>
    <script th:src="@{/assets/js/amazeui.ie8polyfill.min.js}"></script>
    <![endif]-->

    <!--[if (gte IE 9)|!(IE)]><!-->
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <!--<![endif]-->
    <script th:src="@{/assets/js/amazeui.min.js}"></script>
    <script th:src="@{/assets/js/app.js}"></script>
    <!--右下角动漫人物-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget/autoload.js"></script>
</head>

<body>
<!-- 头部 -->
<header th:replace="ui/include/header :: header"></header>
<div class="am-g">

    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12" style="color: rgba(164,164,164,0.78)">
            <h2 style="text-align: center;padding-top: 10px">注册</h2>
            <div style="width: 70%" class="am-u-sm-offset-2">
                <div th:style="${messages==null}?'display:none'" class="am-alert am-alert-warning"
                     data-am-alert>
                    <button type="button" class="am-close">&times;</button>
                    <p th:text="${messages}"></p>
                </div>
                <form class="am-form" action="/register" method="post"
                      enctype="multipart/form-data">
                    <div class="am-form-group">
                        <label for="userName" class="am-u-sm-12 am-form-label am-text-left">用户名字 <span
                                class="tpl-form-line-small-title">Name</span></label>
                        <div class="am-u-sm-12">
                            <input type="text" name="userName" class="tpl-form-input am-margin-top-xs"
                                   id="userName" th:value="${user.userName}" placeholder="请输入用户名字">
                            <small>用户名字为必填</small>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="userNickname" class="am-u-sm-12 am-form-label am-text-left">用户昵称 <span
                                class="tpl-form-line-small-title">userNickname</span></label>
                        <div class="am-u-sm-12">
                            <input type="text" name="userNickname" class="tpl-form-input am-margin-top-xs"
                                   id="userNickname" th:value="${user.userNickname}" placeholder="请输入用户昵称">
                            <small>用户昵称为非必填</small>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="userAge" class="am-u-sm-12 am-form-label am-text-left">用户年龄 <span
                                class="tpl-form-line-small-title">userAge</span></label>
                        <div class="am-u-sm-12">
                            <input type="text" name="userAge" class="tpl-form-input am-margin-top-xs"
                                   id="userAge" th:value="${user.userAge}" placeholder="请输入用户年龄">
                            <small>用户年龄为必填</small>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="userSex" class="am-u-sm-12 am-form-label am-text-left">用户性别 <span
                                class="tpl-form-line-small-title">userSex</span></label>
                        <div class="am-u-sm-12">
                            <input type="text" name="userSex" class="tpl-form-input am-margin-top-xs"
                                   id="userSex" th:value="${user.userSex}" placeholder="请输入用户性别">
                            <small>用户性别为必填</small>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="userPassword" class="am-u-sm-12 am-form-label am-text-left">用户密码
                            <span class="tpl-form-line-small-title">Password</span></label>
                        <div class="am-u-sm-12">
                            <input id="userPassword" type="password"
                                   class="tpl-form-input am-margin-top-xs" name="userPassword"
                                   th:value="${user.userPassword}" placeholder="请输入用户密码">
                            <small>用户密码为必填</small>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="userEmail" class="am-u-sm-12 am-form-label am-text-left">用户邮箱账号
                            <span class="tpl-form-line-small-title">Email</span></label>
                        <div class="am-u-sm-12">
                            <input id="userEmail" type="email" class="tpl-form-input am-margin-top-xs"
                                   name="userEmail" th:value="${user.userEmail}"
                                   placeholder="请输入用户邮箱账号">
                            <small>用户邮箱账号为必填</small>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="userPhone" class="am-u-sm-12 am-form-label am-text-left">用户手机号码
                            <span class="tpl-form-line-small-title">Phone</span></label>
                        <div class="am-u-sm-12">
                            <input type="text" name="userPhone" class="tpl-form-input am-margin-top-xs"
                                   id="userPhone" th:value="${user.userPhone}"
                                   placeholder="请输入用户手机号码">
                            <small>用户手机号码为必填</small>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="userPhoto" class="am-u-sm-12 am-form-label  am-text-left">用户头像
                            <span class="tpl-form-line-small-title">Images</span></label>
                        <div class="am-u-sm-12 am-margin-top-xs">
                            <input type="file" id="file" name="file" style="color: #ff5b67">
                            <input style="margin: 10px 0" type="button" id="upload" value="上传" class="am-btn-secondary">
                            <input style="margin: 10px 2px" type="button" id="cancel" value="取消" class="am-btn-danger">
                            <div class="am-form-group am-form-file">
                                <input type="text" id="userPhoto" name="userPhoto"
                                       th:value="${user.userPhoto}"
                                       class="tpl-form-input am-margin-top-xs" placeholder="图片地址"
                                       readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <div class="am-u-sm-12 am-u-sm-push-12">
                            <button type="submit"
                                    class="am-btn am-btn-primary tpl-btn-bg-color-success ">注册
                            </button>
                            <a class="am-btn am-btn am-btn-secondary" href="/login" style="float: right">去登陆>>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--gotop-->
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
    <a href="#top" title="">
        <i class="am-gotop-icon am-icon-arrow-up"></i>
    </a>
</div>
<!-- 尾部 -->
<footer th:replace="ui/include/footer :: footer"></footer>
</body>

<script type="text/javascript">
    $(function () {
        $("#upload").click(function () {
            var form = new FormData();
            form.append("file", document.getElementById("file").files[0]);
            $.ajax({
                url: "/fileUpload",        //后台url
                data: form,
                cache: false,
                async: false,
                type: "POST",                   //类型，POST或者GET
                dataType: "json",              //数据返回类型，可以是xml、json等
                processData: false,
                contentType: false,
                enctype: 'multipart/form-data',
                success: function (data) {      //成功，回调函数
                    if (data.success == 1) {
                        $("#url img").attr("src", data.url);
                        $("#userPhoto").val(data.url);
                        $("#url1").html(data.url);
                        alert("图片上传成功！")

                    } else {
                        alert("上传失败");
                    }

                },
                error: function (er) {
                    alert(er);//失败，回调函数
                }
            });
        });
        $("#cancel").click(function () {
            var params = $("#userPhoto").val();
            $.ajax({
                url: "/fileDelete/?params=" + params,
                type: "POST",
                contentType: "application/json",//一定要加的属性
                dataType: "json",
                success: function (data) {
                    //data是服务器返回的数据
                    if (data.success == 1) {
                        $("#userPhoto").val("");
                    }
                    alert(data.message);
                },
                error: function (e) {
                    alert(e);//异常信息
                }
            });
        });
    });

</script>
</html>