<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="blog-footer">
    <p>blog template<br/>
        <small>© Copyright 2019-2020 . by the SunYue.</small>
    </p>
    <span>
         <a href="http://beian.miit.gov.cn">蜀ICP备2020028136号</a>
    </span>
    <div style="width:300px;margin:0 auto; padding:20px 0;">
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51052502000152" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img th:src="@{/assets/img/beian.png}" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">川公网安备 51052502000152号</p></a>
    </div>
</footer>