<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>博客管理</title>
    <meta name="description" content="这是一个blog页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" th:href="@{/admin_assets/i/favicon.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/admin_assets/i/app-icon72x72@2x.png}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <script th:src="@{/admin_assets/js/echarts.min.js}"></script>
    <link rel="stylesheet" th:href="@{/admin_assets/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin_assets/css/amazeui.datatables.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin_assets/css/app.css}">
    <script th:src="@{/admin_assets/js/jquery.min.js}"></script>

    <!--    <link rel="stylesheet" th:href="@{/editor/css/style.css}">-->
    <link rel="stylesheet" th:href="@{/editor/css/editormd.css}">
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>
</head>

<body data-type="index">
<script th:src="@{/admin_assets/js/theme.js}"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <header th:replace="admin/include/header :: header"></header>
    <!-- 风格切换 -->
    <div th:replace="admin/include/tpl-skiner :: tpl-skiner"></div>
    <!-- 侧边导航栏 -->
    <div th:replace="admin/include/left :: left"></div>
    <!-- 内容区域 id="tpl-echarts"-->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row am-cf">
                <!--为了让折叠按钮生效-->
                <div id="tpl-echarts"></div>
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">添加博文</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body am-fr">
                                <div th:style="${messages==null}?'display:none'" class="am-alert am-alert-warning"
                                     data-am-alert>
                                    <button type="button" class="am-close">&times;</button>
                                    <p th:text="${messages}"></p>
                                </div>
                                <!--不需要tpl-form-border-form 不然会冲突-->
                                <form class="am-form" method="post" action="/admin/articleAdd">
                                    <div id="first" class="first">
                                        <div class="am-g">
                                            <div class="am-u-md-11 am-u-md-push-11 am-u-lg-reset-order">
                                                <input type="text" name="articleTitle" id="articleTitle"
                                                       th:value="${article.articleTitle}" placeholder="请输入博文标题">
                                            </div>
                                            <div class="am-u-md-1 am-u-md-pull-1 am-u-lg-reset-order">
                                                <div>
                                                    <input type="button" id="next" class="am-btn am-btn-primary"
                                                           onclick="" value="下一步"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="editormd" id="test-editormd" style="margin-top: 10px">
                                            <textarea class="editormd-markdown-textarea"
                                                      name="test-editormd-markdown-doc" id="content"
                                                      th:text="${article.articleContentMd}"></textarea>
                                            <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
                                            <textarea class="editormd-html-textarea" name="editormd-html-textarea"
                                                      id="htmlContent"></textarea>
                                        </div>
                                    </div>
                                    <div id="second" class="second" style="display: none">
                                        <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed"/>
                                        <div class="am-form-group">
                                            <label for="sortAlias" class="am-u-sm-12 am-form-label am-text-left">博文分类
                                                <span
                                                        class="tpl-form-line-small-title">sortAlias</span></label>
                                            <div class="am-u-sm-12">
                                                <div class="am-form-group" id="sortAlias">
                                                    <span th:each="sorts : ${sortsList}" class="gradeX">
                                                         <label class="am-checkbox-inline">
                                                        <input type="checkbox" name="sortCheckbox"
                                                               th:value="${sorts.sortId}"><span
                                                                 th:text="${sorts.sortName}"></span>
                                                         </label>
                                         <!--               <label class="am-checkbox-inline"
                                                               th:if="${sortCheckboxes!=null}">
                                                     <input th:each="sortCheck : ${sortCheckboxes}" th:if="${sortCheck==sorts.sortId.toString()}" th:checked="${sortCheck==sorts.sortId.toString()}? 'checked'"
                                                                    type="checkbox" name="sortCheckbox"
                                                                    th:value="${sorts.sortId}"><span
                                                                th:text="${sorts.sortName}"></span>
                                                        </label>-->
                                                    </span>
                                                </div>
                                                <small>博文分类为非必填</small>
                                            </div>
                                        </div>
                                        <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed"/>
                                        <div class="am-form-group">
                                            <label for="labelAlias" class="am-u-sm-12 am-form-label am-text-left">博文标签
                                                <span
                                                        class="tpl-form-line-small-title">labelAlias</span></label>
                                            <div class="am-u-sm-12">
                                                <div class="am-form-group" id="labelAlias">
                                                    <span th:each="labels : ${labelsList}" class="gradeX">
                                                        <label class="am-checkbox-inline">
                                                            <!--<input type="text" disabled="disabled" th:text="sorts.sortId">-->
                                                            <input type="checkbox" name="labelCheckbox"
                                                                   th:value="${labels.labelId}"><span
                                                                th:text="${labels.labelName}"></span>
                                                        </label>
                                                    </span>
                                                </div>
                                                <small>博文标签为非必填</small>
                                            </div>
                                        </div>

                                        <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed"/>
                                        <div class="am-form-group">
                                            <label for="articleResource" class="am-u-sm-12 am-form-label am-text-left">博文来源信息
                                                <span
                                                        class="tpl-form-line-small-title">articleResource</span></label>
                                            <div class="am-u-sm-12">
                                                <input type="text" name="articleResource"
                                                       class="tpl-form-input am-margin-top-xs"
                                                       id="articleResource" th:value="${article.articleResource}"
                                                       placeholder="博文来源信息">
                                                <small>博文来源为非必填</small>
                                            </div>
                                        </div>
                                        <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed"/>
                                        <div class="am-form-group">
                                            <label for="status"
                                                   class="am-u-sm-12 am-form-label  am-text-left">启用博文</label>
                                            <div class="am-u-sm-12">
                                                <div class="tpl-switch">
                                                    <input id="status" name="status" type="checkbox"
                                                           class="ios-switch bigswitch tpl-switch-btn am-margin-top-xs"
                                                           th:checked="${article.articleStatus==1}? 'checked'">
                                                    <div class="tpl-switch-btn-view">
                                                        <div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed"/>
                                        <div class="am-form-group">
                                            <div class="am-u-sm-12 am-u-sm-push-12">
                                                <button type="submit"
                                                        class="am-btn am-btn-primary tpl-btn-bg-color-success ">发布博文
                                                </button>
                                                <input type="button" id="last" class="am-btn am-btn-primary"
                                                       style="float: right" value="上一步"/>

                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/editor/jquery.min.js}"></script>
<script th:src="@{/editor/editormd.min.js}"></script>
<footer th:replace="admin/include/foot :: footer"></footer>
</body>
<script type="text/javascript">
    $(function () {
        editormd("test-editormd", {
            width: "100%",
            height: 840,
            syncScrolling: "single",
            emoji: true,
            //你的lib目录的路径
            tocm: true, // Using [TOCM]
            htmlDecode: "style,script,iframe|on*",//这个属性开启可以支持字体颜色大小更改，开启 HTML 标签解析，为了安全性，默认不开启
            taskList: true,
            tex: true, // 开启科学公式TeX语言支持，默认关闭
            flowChart: true, // 开启流程图支持，默认关闭
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/markdown",
            path: "/editor/lib/",
            //这个配置在simple.html中并没有，但是为了能够提交表单，使用这个配置可以让构造出来的HTML代码直接在第二个隐藏的textarea域中，方便post提交表单。
            saveHTMLToTextarea: true
        });
        /*下一步和上一步操作*/
        $("#next,#last").click(
            function () {
                $("#first").toggle();
                $("#second").toggle();
            }
        );
        /*        /!*提交*!/
                $("#down").click(
                    function () {
                        submitblog();
                    }
                );
                $("#up").click(
                    function () {
                        location.href = "/admin/articleTo?id=4"
                    }
                );

                function submitblog() {
                    var title = $("#articleTitle").val();
                    //var content = $("#content").val();
                    var htmlContent = $("#htmlContent").val();
                    var mdContent = $("#content").val();
                    $.ajax({
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        url: "/admin/articleSave",
                        data: JSON.stringify({title: title, htmlContent: htmlContent, mdContent: mdContent}),
                        /!* data: {title: title, htmlContent:htmlContent},*!/
                        success: function (data) {
                            alert(data.message);
                            /!*location.href="article/article_view"*!/
                        },
                        error: function () {
                            alert("发布失败");
                        }
                    })
                }*/
    });
</script>
</html>